mixin repoList(repos)
    each repo in repos
        div.repo
            p
                a(href=`${repo.url}`) #{repo.name}
                small.badge(style={"background-color": '#333'}) #{repo.stargazers.totalCount.toLocaleString("en-US")} ☆
                if repo.primaryLanguage
                    small.badge(style={"background-color": repo.primaryLanguage.color}) #{repo.primaryLanguage.name.toLowerCase()}
                if repo.isFork
                    small.badge(style={"background-color": '#333'}) fork
            p
                small #{repo.description || 'No description provided'}
            p
                if repo.pushedAt
                    small updated at #{new Date(repo.pushedAt).toLocaleString("en-US", { weekday: 'short', year: 'numeric', month: 'long', day: 'numeric' })}
                else
                    small created at #{new Date(repo.createdAt).toLocaleString("en-US", { weekday: 'short', year: 'numeric', month: 'long', day: 'numeric' })}

mixin indicator(label, value)
    div(style={"text-align": "center"})
        h3 #{value.toLocaleString("en-US")}
        small #{label}

style(type='text/css').
    @import url('https://fonts.googleapis.com/css?family=Roboto');

    .repo {
        margin-bottom: 10px;
        border-left: 5px solid #e2e2e2;
        padding: 5px;
        background: #fafafa;
    }

    .repo > p {
        margin: 0;
        padding: 0;
    }

    .repo > p:not(:last-child) {
        margin-bottom: 5px;
    }

    body {
         font-family: 'Arial', sans-serif;
    }

    a, a:visited {
        text-decoration: none;
        color: #5c7cff;
    }

    .badge {
        color: #ffffff;
        padding: 3px 3px;
        border-radius: 5px;
    }
    .badge:not(:first-child) {
        margin-left: 5px;
    }

    h2 {
        text-decoration: underline;
    }
    
    .metrics {
        text-align: center;
    }

    .metrics > {
        display: inline-block;
    }
    .metrics > :not(:first-child) {
        margin-left: 20px;
    }

    .metrics small {
        border-bottom: 2px solid purple;
    }


body
    div(style={'min-width': '300px','max-width': '600px'})
        div.metrics
            //img(src=`${avatarUrl}`)
            +indicator("Members", totalMembers)
            +indicator("Private Repos", totalPrivateRepos)
            +indicator("Public Repos", totalPublicRepos)

        h2 Trending
        +repoList(mostStarredRepos)

        h2 Updates
        +repoList(recentlyUpdatedRepos)

        h2 Newest private
        +repoList(privateRepos)

        h2 Newest public
        +repoList(publicRepos)